<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/App.js}"></script>
    <script type="text/javascript" src="../static/js/App.js"></script>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="btn btn-outline-danger my-2 my-sm-0 mx-1" th:href="@{/access/profile}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-danger my-2 my-sm-0 mx-1" th:href="@{/access/club}">Clubs</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-danger my-2 my-sm-0 mx-1" th:href="@{/access/clash}">Clash</a>
                    </li>
                </ul>

            </div>
        </nav>
    </header>
    <div class="centerdiv">
        <div class="firstdiv">
            <div class="profile-picture" th:style="'background-image: url(\'' + ${avatar} + '\')'"></div>
            <div class="profile-info">
                <h1><span th:text="${username}"></span></h1>
                <h2>Club: <span th:text="${club}"></span></h2>
            </div>
            <div class="profile-info" th:if="${manager}">
                <h2>PlayerId:</h2>
                <h2><span class="editable" contenteditable="true" th:text="${gameloftid}"></span><i class="fas fa-pencil-alt"></i></h2>
            </div>
            <div class="profile-info" th:unless="${manager}">
                <h2>PlayerId:</h2>
                <h2><span th:text="${gameloftid}"></span></h2>
            </div>
        </div>
        <div class="separator"></div>
        <div class="seconddiv">

            <div class="nav-bar">
                <button id="overview" onclick="showSection('section1')">Overview</button>
                <button id="reputation" onclick="showSection('section2')">Reputation</button>
                <button id="garage" onclick="showSection('section3')">Garage</button>
                <!--<div class="underline" id="underline"></div>-->
            </div>
            <div class="sections">
                <div id="section1" class="section container">
                    <div class="row w-50">
                        <div class="col" th:if="${manager}">
                            PlayerId: <br>
                            <span class="editable" contenteditable="true">w-dghf3g</span>
                        </div>
                        <div class="col" th:unless="${manager}">
                            PlayerId: <br>
                            <span>w-dghf3g</span>
                        </div>
                    </div>
                    <div class="row w-50">
                        <div class="col">
                            <div class="p-3 mb-2 bg-primary text-white">First div</div>
                        </div>
                        <div class="col">
                            <div class="p-3 mb-2 bg-secondary text-white">Second div</div>
                        </div>
                        <div class="col">
                            <div class="p-3 mb-2 bg-success text-white">Third div</div>
                        </div>
                    </div>
                </div>

                <div id="section2" class="section">
                    <table id="RepTable">
                        <thead>
                        <tr>
                            <th>Column 1</th>
                            <th>Column 2</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

                <div id="section3" class="section">
                    <h2>Garage</h2>
                    <form class="form-inline my-2 my-lg-0" id="carSearchForm">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search cars" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                    <div id="carDisplay" class="row">
                        <!-- Cars will be loaded here -->
                    </div>
                    <div id="loading" style="display: none;">
                        <p>Loading more cars...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script type="text/javascript" th:src="@{/js/chart.js}"></script>
</body>
</html>