<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"/>


    <!-- Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.1/bootstrap3-typeahead.min.js"></script>

    <script type="text/javascript" th:src="@{/js/App.js}"></script>

    <script type="text/javascript" src="../static/js/App.js"></script>

</head>
<body class=".bg-primary">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="btn btn-danger my-2 my-sm-0 mx-1" th:href="@{/access/profile}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-danger my-2 my-sm-0 mx-1" th:href="@{/access/club}">Clubs</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-danger my-2 my-sm-0 mx-1" th:href="@{/access/clash}">Clash</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="centerdiv">
        <div class="firstdiv">
            <div class="profile-picture" th:style="'background-image: url(\'' + ${avatar} + '\')'"></div>
            <div class="profile-info">
                <h1><span th:text="${username}"></span></h1>
                <h2>Club: <span th:text="${club}"></span></h2>
            </div>
            <div class="profile-info" th:if="${manager}">
                <h2>PlayerId:</h2>
                <h2><span class="editable" contenteditable="true" th:text="${gameloftid}"></span><i class="fas fa-pencil-alt"></i></h2>
            </div>
            <div class="profile-info" th:unless="${manager}">
                <h2>PlayerId:</h2>
                <h2><span th:text="${gameloftid}"></span></h2>
            </div>
        </div>
        <div class="separator"></div>
        <div class="seconddiv">
            <div id="lastsection" th:text="${lastsection}" style="display: none;"></div>
            <div class="nav-bar">
                <button id="overview" class="btn-light shadow-none" onclick="showSection('section1')">Overview</button>
                <button id="reputation" class="btn-light shadow-none" onclick="showSection('section2')">Reputation</button>
                <button id="garage" class="btn-light shadow-none" onclick="showSection('section3')">Garage</button>
            </div>
            <div class="sections container">
                <div id="section1" class="section d-none">
                    <div class="row row-cols-auto">
                        <div class="col-6" th:if="${manager}">
                            PlayerId: <br>
                            <span class="editable" contenteditable="true">w-dghf3g</span>
                        </div>
                        <div class="col-6" th:unless="${manager}">
                            PlayerId: <br>
                            <span>w-dghf3g</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="p-3 mb-2 bg-primary text-white">First div</div>
                        </div>
                        <div class="col">
                            <div class="p-3 mb-2 bg-secondary text-white">Second div</div>
                        </div>
                        <div class="col">
                            <div class="p-3 mb-2 bg-success text-white">Third div</div>
                        </div>
                    </div>
                </div>

                <div id="section2" class="section d-none">
                    <table id="RepTable">
                        <thead>
                        <tr>
                            <th>Column 1</th>
                            <th>Column 2</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

                <div id="section3" class="section container d-none">
                    <div id="carNames" class="d-none" th:text="${carNames}"></div>
                    <div id="playertotalcars" class="d-none" th:text="${playertotalcars}"></div>
                    <div id="totalcars" class="d-none" th:text="${totalcars}"></div>
                    <div class="row mb-3">
                        <div class="col">
                            <div id="garagecount"></div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <div id="garagecount2"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div id="garagecount3"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3" id="carSearchForm">
                        <input class="col-8" type="search" placeholder="Search cars" aria-label="Search">
                        <button class="btn btn-outline-danger col-1 p-3 ms-3" type="submit">Search</button>
                        <button id="togglePanelBtn" class="btn btn-outline-success col-1 ms-auto" data-bs-toggle="collapse" data-bs-target="#panel">Add Car</button>
                    </div>
                    <div id="panel" class="collapse row mb-3">
                        <div class="col bg-dark">
                            <button class="btn-close" data-bs-toggle="collapse" data-bs-target="#panel" aria-label="Close"></button>
                            <div class="mb-3" id="carinsertform">
                                <label for="carName" class="form-label">Car Name</label>
                                <input type="text" class="form-control" id="carName" placeholder="Enter car name" autocomplete="off">
                                <ul id="typeaheadResults" class="list-group bg-light text-dark"></ul>
                                <label for="stars">Stars:</label>
                                <select name="stars" id="stars">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                </select> <br>
                                <label for="carRank" class="form-label">Rank</label>
                                <input type="text" class="form-control" id="carRank" placeholder="Enter car rank" autocomplete="off">
                                <input type="button" class="btn btn-success text-light" value="Add" onclick="submitForm('insertcar',setcardata())">
                            </div>
                        </div>
                    </div>
                    <div class="row bg-dark mb-3">
                        <div class="col">
                            <div class="garage-item">
                                <p>Car Class</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="garage-item">
                                <p>Car Name</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="garage-item">
                                <p>Current Rank</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="garage-item">
                                <p>Golden</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="garage-item">
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div th:each="garageItem : ${carlist}">
                        <div th:replace="~{fragments/carRow :: garageItem(${garageItem})}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script type="text/javascript" th:src="@{/js/chart.js}"></script>

</body>
</html>